{% extends "layout.html" %}

{% block header %}
<script src="//cdn.optimizely.com/js/2513470149.js"></script>
  <header>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to the hyperactive alligator dome. Presented by MGT656.
  </p>
  <img id="logo" src="http://fc01.deviantart.net/fs70/f/2012/158/5/6/british_alligator_by_sasukes1gf4life-d52o451.png">
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    Our site would have looked like <a href="https://nicedesign-rahulrg86.c9.io/">this</a> had we have an extra week.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}